In [31]:
# TEXT METHODS in Pandas.
import pandas as pd
from IPython.display import display, HTML

In [44]:
Methods_Descriptions = [ (s.split('\t')) for s in open('pandasmethods.txt', "r").read().split('\n')[1:] ]
df = pd.DataFrame(Methods_Descriptions ,columns=['Method','Description'], dtype='str')
df.style.set_properties(**{'text-align' : 'left'})

In [45]:
#display(HTML(df.to_html(index=False)))